.imageProduct:hover {
	transform: scale(1.1); 
}
  
.product-list {
	display: flex;
	
	margin-top: 1%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; 
	-ms-overflow-style: none;  
}
.product-list::-webkit-scrollbar {
	display: none; 
}
.product-preview {
	
	flex: 0 0 auto;
	/*height: 100%;*/
	margin-right: 16px;
	border-radius: 15px;
	scroll-snap-align: start;
	padding: 1vw;
	overflow: hidden;
}
.imageProduct {
	
	flex: 1;
	/*height: 100%;
	width: 80%;
	flex: 1;*/
	width: 250px;
	height: 350px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
.prezzo , .descrizione{

	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s ease;

}
.prezzo:hover , .descrizione:hover{

	color:  #9b2be6;

}
.mainclassnm {
	padding: 10px;
}

