#FormAddress {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-right: 20%;

	height: 60%;
	width: 20%;
	padding: 2%;
	background-color: rgb(220, 199, 248);;
}
.h3AddForm{

	font-size: 1vw;
	cursor: pointer;
	transition: color 0.3s ease;
	text-transform: uppercase;
	
}
#inPaese, #inCittà, #inVia {
	padding-left: 5%;
	border-radius: 5px;
	border: 1px solid #ccc;
	border: none;
	width: 15vw;
	height: 3vh;
}

#btnInsertAddress {
	display: flex;
	justify-content: center;
	
	transition: color 0.3s ease;
	font-size: 1vw;
}
#dive_btnAddress {
	cursor: pointer;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #ccc;
	border-color: black;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	margin-top: 5vh;
	
}
#dive_btnAddress:hover {
	background-color: black;
}
#dive_btnAddress:hover #btnInsertAddress{
	color: white;
}