.BuyProductDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1%;
}
.BuyProductDivOption {

	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	height: 60%;
	width: 20%;
	background-color: rgb(220, 199, 248);
	padding: 2%;
	
}
.BuyButtonDiv {
	cursor: pointer;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #ccc;
	border-color: black;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	margin-top: 10%;
	width: 90%;
	height: 10%;
}

.BuyButtonDiv:hover {
	background-color: black;
}
.BuyButtonDiv:hover h2{
	color: white;
}

.BuyProductDivImage {
	display: flex;
	flex-direction: column;
}
.pByuPr , .h2BuyProduct, .Pdesc{
	
	font-size: 1vw;
	cursor: pointer;
	transition: color 0.3s ease;
	text-transform: uppercase;
	
}
.BuyButton {
	display: flex;
	justify-content: center;
	transition: color 0.3s ease;
	font-size: 1vw;
	cursor: pointer;
	text-transform: uppercase;
}
.Caratteristiche {
	padding-left: 5%;
}

#divDataProduct {
	padding-left: 5%;
	width: 50%;
	height: 50%;
}
#imgPrd {
	height: 80vh;
	width: 30vw;
}
