.order-history {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto; 
	scrollbar-width: none;
}
  
.order-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	margin-top: 1%;
	
}
  
.order-image {
	width: 100%;
	height: 100%;
}
  
.order-image img {
	width: 55%;
	object-fit: cover;
}
  
.order-info {

	background-color: rgb(220, 199, 248);;
	display: flex;
	flex-direction: column;
	margin-bottom: 20%;
	font-size: 1.5vw;
	border-radius: 10px;
	margin-right: 20%;
	padding: 2%;
	
}
  
.order-info h2 {
	margin: 0;
	font-size: 1.2em;
}
  
.order-info p {
	margin: 5px 0;
	margin-left: 12%;
}
  
#h2_EmptyList {

	text-transform: uppercase;
	transition: color 0.3s; 
	margin-left: 30%;
	margin-top: 10%;
	font-size: 2vw;
}
  
#h2_EmptyList:hover {
	color: #9b2be6;
}