.doLogin {
	display: flex;
	height: auto; 
}
/*Aggiungo questa regola che si riferisce alla classe che aggiungo 
(per ora solo)al componente che sta sotto la visualizzazione del popup 
*/
#blur-effect {
	filter: blur(8px);
	transition: all 0.2s ease;
}
.DivContainerLeftColumn {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20%;
	margin-right: 30%;
	padding: 10%;
}
.logoHomeLogin {
	
	height: 90px;
	width: 90px;
	margin-left: 15%;
}
#h2_1 {
	font-size: 90%;
	color: #9b2be6	;
}
#h2_2 {

	display: flex;
	justify-content: center;
	margin-left: 10%;
}
.divLogoImage {
	
	display: flex;
	min-height: 100vh;
	justify-content: start;
	background-color: black; 
	color: #9b2be6; 
	width: 65%; 
}
  
.divLoginOption {
	
	display: flex;

	
	background-color: white; 
	padding: 10px; 
	width: 35%; 	 
}

.Login_class_1, .Login_class_2
{
	display: flex;
	cursor: pointer;
	background-color: #9b2be6; 
	padding: 5px;
	border-radius: 15px;
	height: 20%;
	width: 70%;
}
.Login_class_2 {
	margin-top: 4%;
}
.h3 {
	font-size: 2%;
	display: flex;
}
.Link_ {
	margin-top: 2%;
	padding: 10px;
	height: 50%;
	width: 30%;	
}
.containerLoginType {
	
	
	flex-direction: column;
	justify-content: center;
	margin-top: 40vh;
	margin-left: 25%;

}
#ContainerLogDiv {

	display: flex;
	justify-content: center;
	margin-top: 10vh;
	flex-direction: column;
	padding:1%;
	margin-left: 25%;
}
#create{
	display: flex;
	justify-content: center;
	margin-top: 5%;

}