.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container {
	display: flex;
	width: 60%;
	justify-content: space-between;
	 
}
 
.image-container img.active {
	opacity: 1; 
}
.image-container img {
	opacity: 0.5;
	max-width: 30%; 
	 
}
  