.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .image-container {
	display: flex;
	justify-content: space-between;
	width: 60%; 
  }
  
  .image-container img {
	max-width: 30%; 
	opacity: 0.5; 
  }
  
  .image-container img.active {
	opacity: 1; 
  }